DATABASE_DSN=postgresql+psycopg://postgres:postgres@database:5432/receipt-splitting-bot
TELEGRAM_TOKEN=...

POSTGRES_AUTH_METHOD=trust
POSTGRES_DB=receipt-splitting-bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

