DEBUG=true

DATABASE_DSN=postgresql+psycopg://postgres:postgres@database:5432/receipt-splitting-bot
KEY_VALUE_STORE_DSN=redis://key-value-store

TELEGRAM_TOKEN=...
OPENROUTER_API_KEY=...

OCR_MODEL=nvidia/nemotron-nano-12b-v2-vl:free
ASR_MODEL=nvidia/nemotron-nano-12b-v2-vl:free
AGENT_MODEL=nvidia/nemotron-3-nano-30b-a3b:free

RECEIPT_LOCK_PREFIX="receipt_lock:"
RECEIPT_LOCK_LIFETIME=300 # In seconds

POSTGRES_AUTH_METHOD=trust
POSTGRES_DB=receipt-splitting-bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

