DEBUG=true

DATABASE_DSN=postgresql+psycopg://postgres:postgres@database:5432/receipt-splitting-bot

TELEGRAM_TOKEN=...
OPENROUTER_API_KEY=...

OCR_MODEL=nvidia/nemotron-nano-12b-v2-vl:free
ASR_MODEL=nvidia/nemotron-nano-12b-v2-vl:free
AGENT_MODEL=nvidia/nemotron-3-nano-30b-a3b:free

POSTGRES_AUTH_METHOD=trust
POSTGRES_DB=receipt-splitting-bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

