stages:
  - lint
  - test
  - build
  - deploy


.standart-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH    
    - if: $CI_COMMIT_TAG


.on-master-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH    
    - if: $CI_COMMIT_TAG


.on-release-rules:
  rules:
    - if: $CI_COMMIT_TAG


.uv-template: # Not using UV image because of pytest crashes
  image: python:3.13-alpine
  interruptible: true
  variables:
    UV_CACHE_DIR: .uv-cache
  before_script:
    - pip install uv
    - uv sync --frozen --dev
  after_script:
    - uv cache prune --ci
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - .uv-cache


secret-detection:
  stage: lint
  trigger:
    include:
    - component: gitlab.com/components/secret-detection/secret-detection@main


sast:
  stage: lint
  trigger:
    include:
    - component: gitlab.com/components/sast/sast@main


mypy-lint:
  stage: lint
  extends:
    - .uv-template
    - .standart-rules
  script:
    - uv run mypy .


ruff-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ruff:latest
  extends:
    - .standart-rules
  script:
    - ruff check --output-format=gitlab


test:
  stage: test
  extends:
    - .uv-template
    - .standart-rules
  script:
    - uv run pytest
